@model List<n01542751_assignment5.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h1>Teacher List</h1>

<h2>There are total @Model.Count() teacher(s) in the school.</h2>
<div><a href="/Teacher/Add">Add a New Teacher</a></div>
<div>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" placeholder="Type a name here" />
        <input type="submit" value="Search" />
    </form>

</div>
<div>

    @{
        foreach (n01542751_assignment5.Models.Teacher Teacher in Model)
        {
            <div>
                <a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFName @Teacher.TeacherLName </a>
            </div>
        }
    }
</div>